<h2>My Languages</h2>
<ul class="languages">
  <li *ngFor="let language of programming_languages">
    <a routerLink="/detail/{{language.id}}">
      <span class="badge">{{language.id}}</span> {{language.name}}
    </a>
    <button 
      type="button" 
      class="delete-btn" 
      title="delete language" 
      (click)="delete(language)"
    >
      X
    </button>
  </li>
</ul>
<div>
  <label for="new-language">Language name: </label>
  <input id="new-language"  #languageName/>

  <button 
    type="button" 
    class="add-btn" 
    (click)="add(languageName.value); 
    languageName.value=''"
  >
    Add language
  </button>
</div>